# 01_envar.config
option_settings:
 aws:elasticbeanstalk:application:environment:
   PORT: 8080
   NODE_ENV: production
   SECRET_KEY: "OYIH9N005LZOJ3EDMU6W"
   MONGO_URL: "mongodb://deployer:hola03@ds159025.mlab.com:59025/deploying"
   CLOUDINARY_NAME=dpg5cvxyw
   CLOUDINARY_API_KEY=523346748731792
   CLOUDINARY_SECRET_KEY=nsFP0cwVhCKBqg_o2xzgoh5UVgg